<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Minhas Inscrições</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
    <style>
        .wrapper {
            margin-top: 20px;
            text-align: center;
        }

        .btn {
            background-color: #46ab4a;
        }

    </style>
</head>

<body>
<div class="wrapper">
    <h1>
        MINHAS INSCRIÇÕES
    </h1>

</div>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${inscricaos}" class="container my-5">


                <div class="col-md-10">
                    <h2 th:case="null">Nenhum Evento</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
<!--                                <th>ID INSCRICAO</th>-->
<!--                                <th>ID EVENTO</th>-->
                                <th>NOME EVENTO</th>
<!--                                <th>ID USUARIO</th>-->
                                <th>DATA</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="i : ${inscricaos}">
<!--                                <td th:text="${i.id_inscricao}"></td>-->
<!--                                <td th:text="${i.getIdEvento().getId_evento()}"></td>-->
                                <td th:text="${i.getIdEvento().getNome()}"></td>
<!--                                <td th:text="${i.getIdUsuario().getId_usuario()}"></td>-->
                                <td th:text="${i.data}"></td>
                                <td>
                                     <a th:href="@{http://localhost:9090/evento/inscricao/cancelarInscricao/{idUsuario}/{idInscricao}(idUsuario=${i.getIdUsuario().getId_usuario()},idInscricao=${i.id_inscricao})}" id="btEditar"
                                        class="btn btn-success"
                                        title="INSCRIÇÃO">
                                         CANCELAR INSCRIÇÃO</a>
                                </td>

<!--                                @{http://localhost:9092/inscricao/fazerInscricao/{idUsuario}/{idEvento}(idUsuario=${idUsuario},idEvento=${evento.id_evento})}-->
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
