<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Certificado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
    <style>

        html {
            display: table;
            margin: auto;
        }

        body {
            display: table-cell;
            vertical-align: middle;
        }

    </style>
</head>

<body>
<div class="container my-2">
    <div th:switch="${certificado}" class="container my-5">
        <div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
            <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
                <span style="font-size:50px; font-weight:bold">Certificado de Conclusão</span>
                <br><br>
                <span style="font-size:25px"><i>Certificamos que</i></span>
                <br><br>
                <span style="font-size:30px"><b><td th:text="${certificado.nomeUsuario}"></td></b></span><br/><br/>
                <span style="font-size:25px"><i>participou do evento</i></span> <br/><br/>
                <span style="font-size:30px"><td th:text="${certificado.nomeEvento}"></td></span> <br/><br/>
                <span style="font-size:20px"><i>com duração de <td th:text="${certificado.cargaHoraria}"></td></i></b></span> <br/><br/><br/><br/>
                <span style="font-size:25px"><i>Data do Evento <td th:text="${certificado.dataEvento}"></td></i></span>

            </div>
        </div>

    </div>
</div>

</body>

</html>