<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Certificado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
    <style>
        .wrapper {
            margin-top: 20px;
            text-align: center;
        }

        .btn {
            background-color: #46ab4a;
        }

    </style>
</head>

<body>
<div class="wrapper">

</div>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${certificado}" class="container my-5">

                <div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
                    <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
                        <span style="font-size:50px; font-weight:bold">Certificate of Completion</span>
                        <br><br>
                        <span style="font-size:25px"><i>This is to certify that</i></span>
                        <br><br>
                        <span style="font-size:30px"><b><td th:text="${certificado.nomeUsuario}"></td></b></span><br/><br/>
                        <span style="font-size:25px"><i>has completed the course</i></span> <br/><br/>
                        <span style="font-size:30px"><td th:text="${certificado.nomeEvento}"></td></span> <br/><br/>
                        <span style="font-size:20px"><td th:text="${certificado.cargaHoraria}"></td></b></span> <br/><br/><br/><br/>
                        <span style="font-size:25px"><i>dated</i></span><br>
                        <td th:text="${certificado.dataEvento}"></td>
                        <span style="font-size:30px">$dt</span>
                    </div>
                </div>

                <!--<div class="col-md-10">
                    <h2 th:case="null">Nenhum Evento</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>ID EVENTO</th>
                                <th>NOME</th>
                                <th>DATA</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="evento : ${eventosUsuario}">
                                <td th:text="${evento.id_evento}"></td>
                                <td th:text="${evento.nome}"></td>
                                <td th:text="${evento.data}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>-->

            </div>
        </div>
    </div>
</div>
</body>

</html>